<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Compras</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Vendas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Mola</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Dar Mola</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
